allpairspy==2.5.1
approval_utilities==14.7.1
approvaltests==14.7.1
beautifulsoup4==4.13.4
certifi==2025.6.15
charset-normalizer==3.4.2
coverage==7.9.1
empty-files==0.0.9
idna==3.10
iniconfig==2.1.0
mock==5.2.0
mrjob==0.7.4
packaging==25.0
pluggy==1.6.0
Pygments==2.19.2
pyperclip==1.9.0
pytest==8.4.1
pytest-approvaltests==0.2.4
pytest-cov==6.2.1
pytest-mock==3.14.1
PyYAML==6.0.2
requests==2.32.4
soupsieve==2.7
testfixtures==8.3.0
typing_extensions==4.14.0
urllib3==2.5.0
